/* For Tablets */

@media all and (max-width: 1000px) {
    .top-wrapper h1 {
        font-size: 32px;
    }
    .heading h2 {
        font-size: 20px;
    }
    .project {
        width: 50%;
        margin-bottom: 50px;
    }
}


/* For Smartphones */

@media all and (max-width: 670px) {
    /* .btn {
        width: 100%;
    } */
    .top-wrapper {
        text-align: center;
    }
    .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
    }
    .top-wrapper p {
        font-size: 14px;
        line-height: 20px;
    }
    .project {
        width: 100%;
    }
    footer {
        text-align: center;
    }
}

@media all and (max-width: 803px) {
    .header-right .icon {
        visibility: visible;
    }
    .header-right a:not(:last-child) {
        display: none;
    }
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}