* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lucida Grande";
}

a {
    text-decoration: none;
}

.header-container {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url(images/bg.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
}

.btn-wrapper {
    text-align: center;
    margin: 20px 0;
}

.btn-wrapper p {
    margin: 10px 0;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}

.btn:hover {
    opacity: 1;
}

.fa {
    margin-right: 5px;
}

header {
    width: 100%;
    background-color: rgba(34, 49, 52);
    position: fixed;
    z-index: 1;
}

.logo {
    margin-top: 20px;
    color: white;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.project-wrapper {
    padding-bottom: 80px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #f7f7f7;
    text-align: center;
}

.heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
}

.heading h2 {
    font-weight: normal;
}

form {
    padding: 20px;
}

input {
    width: 50%;
    pad: 10px;
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
}

.project {
    width: 50%;
    box-shadow: teal 2px;
}

img {
    width: 300px;
    height: 300px;
}

.text-contents {
    padding-top: 5px;
    font-size: 30px;
    text-align: center;
    /* width: 80%; */
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
}

.heading h3 {
    font-weight: normal;
}

.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}

.message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
}

.message:active {
    top: 7px;
    box-shadow: none;
}

footer p {
    color: #b3aeb5;
    font-size: 12px;
}

footer {
    padding-top: 30px;
    padding-bottom: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    background-color: cornflowerblue;
}